
#grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 10px;
  flex: 30%;
}



@media (max-width: 600px) {
  .flex-item {
    flex: 100%
  }
  
}

@media (min-width: 1300px) {
  #grid {
    max-width: 1300px;
  }
}


/*images */
.portrait {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


