
#grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 1000px) {
  #grid {
    max-width: 900px;
  }
}


@media (max-width: 600px) {
  section {
    padding: none;
    margin: none;
  }  
}

section {
  padding: 20px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 25px;
  background-color: white;
  color: black;
  margin-bottom: 50px;
}

.portrait-bulle {
  margin-top: 180px;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  border-radius: 200px;
}


