h1 {
  margin: none;
  padding: none;
}

.cv-title{
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 80px;
  color:black;
  background-color: white;
  border-radius: 150px;
}

.cv-section{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding-bottom: 3vh;
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 20px ;
  margin-bottom: 20px;

  scroll-margin-top: 100px;
}

.grid-70-30-container {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 10px;
}

.grid-70-30-container > div + div {
  text-align: right;
}

#formation > .grid-70-30-container {
  padding-bottom: 20px;
  border-bottom: 1px grey solid;
}

#formation > .grid-70-30-container:last-of-type {
  padding-bottom: none;
  border-bottom: none;
}

.grid-40-60-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 10px;
}

.subtitle {
  font-size: larger;
  padding-top: 50px;
  
}

.accent-line {
  border-top: 1pt grey solid;
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 1400px) {
  #vertical-nav{
    display: none;
  }
}
@media (max-width: 800px) {
  .logo{
    display: none;
  }
}

#vertical-nav {
  position: fixed;
  left: calc(((100vw - 1100px) / 2 ) - 220px);
  top: calc(100vh / 4);
  border-right: 1px solid white;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#vertical-nav > ul {
  list-style-type: none;
  overflow: hidden;
}


#vertical-nav > ul > li {
  font-size: 18px;
  margin-bottom: 20px;
}

#vertical-nav > ul > li > a {
  font-size: larger;
  color: white;
  text-decoration: none;
}

#vertical-nav > ul > li > a:hover {
  font-weight: bold;
  color: white;
}



.logo {  
  max-width: 180px;
}

.im{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}


