body{
    min-height: 100vh;
}


.title{
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 80px;
  color:black;
  background-color: white;
  border-radius: 150px;
}


.strate {
  
  display: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding-bottom: 3vh;
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 20px ;
  margin-bottom: 20px;

  scroll-margin-top: 50vh;
}

.active {
  display: block
}

.visible {
  display: block;
  background-color: black;
  color: white;
}


@media (max-width: 1400px) {
  #vertical-nav{
    display: none;
  }
}


#vertical-nav {
  position: fixed;
  left: calc(((100vw - 1100px) / 2 ) - 220px);
  top: calc(100vh / 2.5);
  border-right: 1px solid white;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#vertical-nav > ul {
  list-style-type: none;
  overflow: hidden;
}


#vertical-nav > ul > li {
  font-size: 18px;
  margin-bottom: 20px;
}

#vertical-nav > ul > li > a {
  font-size: larger;
  color: white;
  text-decoration: none;
}

#vertical-nav > ul > li > a:hover {
  font-weight: bold;
  color: white;
}

.nav-active{
  background-color: white;
  font-weight: bold;
  color: black;
  border-radius: 150px;
  width: 580px;
  overflow: hidden;
}

/*doesn't work for now*/
.nav-active #vertical-nav > ul > li > a:hover {
  color: black
}

.code-style{
  width: 100%;
  height: 800px;
  white-space: pre;
  font-family: monospace;
}