.title{
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 80px;
    color:black;
    background-color: white;
    border-radius: 150px;
}


section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 25px;
    background-color: white;
    color: black;
    margin-bottom: 50px;
}



@media (min-width: 1000px) {
  section {
    max-width: 900px;
  }
}


@media (max-width: 600px) {
  section {
    padding: none;
    margin: none;
  }  
}