body {
  background-color: black;
}

.title{
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 80px;
  color:black;
  background-color: white;
  border-radius: 150px;
}


#grid {

    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    max-width: 1100px;
    text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: none;
  padding: none;
  gap: 20px;
}
.grid-container div{
    margin: 10px;
    padding: none;
}
.grid-container figure {
    position: relative;
    left: -40px;
    width: 100%;
    margin: none;
    padding: none;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .grid-container div {
    max-width: 100%;
  }
  
}
a {

  text-decoration: none;
}

/*images*/
.fl-thumbnail{
    width:100%;
}


figure figcaption{
  margin-top: 20px ;
  padding: 20px;
  margin-bottom: 20px;
  color:white;
  text-align: center;
  font-style: italic;
    
}


figure:hover figcaption{
    background-color: black;
    border-bottom: white solid 3px;
    display:block;
    
}
