body{
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


nav {
    box-shadow: 50px 50px lightblue;
    overflow-y: visible;
    background-color: #000000;
    margin-bottom: 80px;
    font-size: larger;
}

nav > ul {
    position: relative;
    top: 0;
    left: 0;

    box-shadow: 0px 2px 5px white;
    overflow-y: visible;
    list-style-type: none;
    overflow: hidden;
    background-color:  #000000;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav > ul > li {
  float: right;
  padding: 10px;
}

.banner {
  margin-top: 10px;
  margin-right: 30vw;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media (max-width: 700px) {
  .banner{
    display: none;
  }
}
@media (max-width: 1200px) {
  .banner{
    margin-right: 10vw;
  }
}

nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active-nav {
    font-weight:bolder;
}