body{
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
}


nav {
    overflow-y: visible;
    background-color: #000000;
    margin-bottom: 80px;
    font-size: larger;
}

nav > ul {
    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0px 2px 5px white;
    overflow-y: visible;
    list-style-type: none;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    width: 100%;
}

nav > ul > li {
  float: right;
  padding: 10px;
}


a {
  color: #DD2C99
}

a:visited {
  color: #DD2C99
}

nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: white;
}


.active-nav {
    font-weight:bolder;
}

.maj {
  color: white;
  font-style: italic;
  font-size: smaller;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}


#footer-nav {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    list-style-type: none;
    overflow: hidden;
    background-color:  #000000;
    
    padding-top: 50px;
    margin-bottom: 80px;
    border-top: solid white 1px;

    margin-left: 20vw;
    margin-right: 20vw;
    
}


@media (max-width: 930px) {
  nav {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 32pt;
  }
  #footer-nav {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}