body {

}

/*Nav*/
nav {
    position: sticky;
    top: 0;
    background-color: #333;
    margin-bottom: 80px;
}

nav > ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav > ul > li {
  float: right;
  padding: 10px;
}


nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li > a:hover:not(.active-nav) {
  background-color: #111;
}

.active-nav {
    border-bottom: red 1px solid;
}